<%= stylesheet_link_tag "articles"%>
<div class="flex flex-col items-center">
    <h1 class= "text-titles text-5xl justify-center ">Articles</h1>
    <%= link_to "Create new Article", new_article_path, class: "button-style" %>
    <p>Our blog has <%= Article.public_count %> articles and counting!</p>
    <%=render "articleCards", article: @article%>
</div>
