<nav class="navbar">
    <ul class="nav-list">
        <li><%= image_tag "articles.png", {width: 30} %></li>
        <li class= "text-3xl text-blue-500 font-bold underline"><%= link_to 'Home', root_path %></li>
    </ul>
</nav>