<nav class=" p-4 flex flex-row ">
    <ul class=" inline-flex p-2 ">
        <li ><%= image_tag "articles.png", {width: 34} %></li>
        <li class= "text-3xl  text-tertiary font-bold underline"><%= link_to 'Home', root_path %></li>
    </ul>
</nav>